{% extends "base.html" %}

{% block head %}
    <script>
        async function loginUser() {
            const url = "http://localhost:8000/api/v1/auth/logout";
            const bookingId = document.getElementById("bookingId").value;

            await fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify({email: email, password: password}),
            }).then(response => {
                if (response.status === 200) {
                    window.location.href = "/pages/bookings"
                } else {
                    wrongCredentialsSpan.textContent = "Wrong email or password";
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
<div class="flex justify-center mb-10 text-3xl">
    Мои брони
</div>
<div class="flex flex-col items-center">
    {% for booking in bookings %}
        <div>
            <div class="text-2xl font-bold mb-5">
                <span>{{ booking.hotel_name }}</span>
            </div>
            <div class="flex shadow-md mb-5 w-fit pr-4">
                <img src="{{ url_for('static', path='images/' + booking.image_id|string + '.webp') }}" alt="Комната" width="250">
                <div class="px-4 py-3">
                    <div class="pl-1 font-bold">{{ booking.name }}</div>
                    <hr class="my-2">
                    {% if booking.description %}
                        <div class="mb-2 pl-1 max-w-xs">{{ booking.description }}</div>
                    {% endif %}
                    <div class="pl-1">{{ " · ".join(booking.services) }}</div>
                </div>
                <div class="flex justify-top flex-col items-center">
                    <span>✅ Booked</span>
                    <span>С {{ booking.date_from }}</span>
                    <span>По {{ booking.date_to }}</span>
                    <span class="font-bold text-3xl">{{ format_number_thousand_separator(booking.total_cost) }}</span>
                    <span class="mb-3">за {{ booking.total_days }} nights</span>
                    <span hidden id="bookingId">{{ booking.id }}</span>
                    <button class="text-lg bg-red-400 px-3 py-1 rounded-3xl mb-4">Cancel book</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}